<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helloboss.money365">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Money365"
        tools:targetApi="31">
        <activity
            android:name=".resetpasword.NewPassword"
            android:exported="false" />
        <activity
            android:name=".resetpasword.Verification"
            android:exported="false" />
        <activity
            android:name=".resetpasword.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".tips.Tips"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".userguide.UserGuide"
            android:exported="false" />
        <activity
            android:name=".leaderboard.LeaderBoard"
            android:exported="false" />
        <activity
            android:name=".noticeboard.NoticeBoard"
            android:exported="false" />
        <activity
            android:name=".Withdraw"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".workshow.InterstitialAdsShow"
            android:exported="false" />
        <activity
            android:name=".task.Task"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:theme="@style/Theme.Money365.NoActionBar" />
        <activity
            android:name=".UserRegistration"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>